.circle {
    border-radius: 20px;
    background-color: cyan;
}

.focused {
    transform: scale(1.1);

    background-color: #30e3ca;

    border-radius: 8px;
}

.normal {
    box-shadow: 0 0px 52px rgba(0, 0, 0, 0.07);

    background-color: #107a8b;

    border-radius: 64px;
}
