
.navbar {
    width: 100vw;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-item {
    padding: 8px;
    background-color: #61dafb;
    color: red;
    margin: 4px;
    border-radius: 4px;

    transition: all 0.2s ease-in;
}

.navbar-item:hover {
    background-color: red;
    border-radius: 8gpx;
}
