
.navbar {
    width: 100vw;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #430d27;
}

.navbar-item {
    padding: 8px;
    background-color: #582233;
    color: #facf5a;
    margin: 4px;
    border-radius: 4px;

    transition: all 0.2s ease-in;
}

.navbar-item:hover {
    background-color: #713045;
    border-radius: 8gpx;
}
